export MP_REST_API_ENDPOINT="https://adminint.crossroads.net/ministryplatformapi"
export MP_OAUTH_BASE_URL="https://adminint.crossroads.net/ministryplatformapi/oauth"
export MP_USERNAME="CRDS.GraphQL"
export MP_PASSWORD="Crossroads"
export MP_CLIENT_ID="CRDS.GraphQL"
export MP_CLIENT_SECRET="GraphQLIsKewl"
export AUTH_ENDPOINT="https://api.crossroads.net/auth/api/authorize"
